<div id="msg_list" class="task_list hide">

	<ul class="task-list">

		<div class="task_box" id="task-906">

			<div class="task_icon">
				<img src="/images/icons-app/community-minor.png" alt="Federalismo em debate">
			</div>

			<div class="task_decisions">
				<input class="task_accept_radio" id="decision-finish-906" name="tasks[906][decision]" task_id="906" type="radio" value="finish">
					<label for="decision-finish-906">Responder</label>
				<input class="task_reject_radio" id="decision-cancel-906" name="tasks[906][decision]" task_id="906" type="radio" value="cancel">
					<label for="decision-cancel-906">Apagar</label>
				<input checked="checked" class="task_skip_radio" id="decision-skip-906" name="tasks[906][decision]" task_id="906" type="radio" value="skip">
					<label for="decision-skip-906">Pular</label>
			</div><!-- class="task_decisions" -->

			<strong class="task_title" style="margin-right: 175px;">
			Nova Mensagem
			</strong>

			<div class="task_information">
				<a href="http://hom.psocial.sg.gov.br/profile/gabrielbarbosa">Gabriel de Souza Barbosa</a> quer falar sobre <span class="task_target">Federalismo em debate</span> sem descrição.
			</div>

			<div id="on-reject-information-906" style="display: none">
				<div class="formfieldline">
					<label class="formlabel" for="tasks_906_task_reject_explanation">Explicação para a rejeição</label>
					<div class="formfield type-textarea">
						<textarea cols="40" id="tasks_906_task_reject_explanation" name="tasks[906][task][reject_explanation]" rows="5"></textarea>
					</div>
				</div>
			</div>

		</div><!-- class="task_box" -->

<div class="task_box" id="task-906">

			<div class="task_icon">
				<img src="/images/icons-app/community-minor.png" alt="Federalismo em debate">
			</div>

			<div class="task_decisions">
				<input class="task_accept_radio" id="decision-finish-906" name="tasks[906][decision]" task_id="906" type="radio" value="finish">
					<label for="decision-finish-906">Responder</label>
				<input class="task_reject_radio" id="decision-cancel-906" name="tasks[906][decision]" task_id="906" type="radio" value="cancel">
					<label for="decision-cancel-906">Apagar</label>
				<input checked="checked" class="task_skip_radio" id="decision-skip-906" name="tasks[906][decision]" task_id="906" type="radio" value="skip">
					<label for="decision-skip-906">Pular</label>
			</div><!-- class="task_decisions" -->

			<strong class="task_title" style="margin-right: 175px;">
			Mensagem da comunidade
			</strong>

			<div class="task_information">
				<a href="http://hom.psocial.sg.gov.br/profile/gabrielbarbosa">Gabriel de Souza Barbosa</a> quer criar a comunidade <span class="task_target">Federalismo</span> sem descrição.
			</div>

			<div id="on-reject-information-906" style="display: none">
				<div class="formfieldline">
					<label class="formlabel" for="tasks_906_task_reject_explanation">Explicação para a rejeição</label>
					<div class="formfield type-textarea">
						<textarea cols="40" id="tasks_906_task_reject_explanation" name="tasks[906][task][reject_explanation]" rows="5"></textarea>
					</div>
				</div>
			</div>

		</div><!-- class="task_box" -->
<div class="task_box" id="task-906">

			<div class="task_icon">
				<img src="/images/icons-app/community-minor.png" alt="Federalismo em debate">
			</div>

			<div class="task_decisions">
				<input class="task_accept_radio" id="decision-finish-906" name="tasks[906][decision]" task_id="906" type="radio" value="finish">
					<label for="decision-finish-906">Responder</label>
				<input class="task_reject_radio" id="decision-cancel-906" name="tasks[906][decision]" task_id="906" type="radio" value="cancel">
					<label for="decision-cancel-906">Apagar</label>
				<input checked="checked" class="task_skip_radio" id="decision-skip-906" name="tasks[906][decision]" task_id="906" type="radio" value="skip">
					<label for="decision-skip-906">Pular</label>
			</div><!-- class="task_decisions" -->

			<strong class="task_title" style="margin-right: 175px;">
			Mensagem Nova
			</strong>

			<div class="task_information">
				<a href="http://hom.psocial.sg.gov.br/profile/gabrielbarbosa">Gabriel de Souza Barbosa</a> falar com você sobre <span class="task_target">Debate</span> sem descrição.
			</div>

			<div id="on-reject-information-906" style="display: none">
				<div class="formfieldline">
					<label class="formlabel" for="tasks_906_task_reject_explanation">Explicação para a rejeição</label>
					<div class="formfield type-textarea">
						<textarea cols="40" id="tasks_906_task_reject_explanation" name="tasks[906][task][reject_explanation]" rows="5"></textarea>
					</div>
				</div>
			</div>

		</div><!-- class="task_box" -->

<div class="button-bar">
	<input class="button with-text icon-save submit" name="commit" type="submit" value="Aplicar!">
	<a href="#" class="button icon-text-plain with-text" title="Ver tarefas processadas">&nbsp;<span>Ver Todas</span></a>
	<a href="#" id="close_msg" class="button icon-back with-text" title="Voltar ao painel de controle">&nbsp;<span>Fechar</span></a>
	<br style="clear: left;">
</div>

	</ul>
</div>
